{%extends 'all-gallery/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if categories %}
      <h2>Found {{ categories|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 categories for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="card-columns">

    {% if categories %}
      {% for category in categories %}
        <!--Display searched images  -->
        <div class="col-md-6 col-sm-6" style="background-color: #1d3557;border:3px solid yellow;">
          <div class="card-body">
              <img src="{{category.image.url}}" alt="{{image.name}}" class="card-img" height="250px" width="100%">
          </div>
        </div>
        
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}



